### macOS ###
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json

# data files
data/*
model-validator/videos/*